

.contact-form {
	width:100%;
	display: flex;
	align-items: stretch;
	margin: 40px 0;

}


.form {
	
	text-align:left;
	flex:1;
	margin-right:0;
	background-color:#fff9f7;
	padding:100px;	
}

.form-row {
	display: flex;
	margin:30px 0;
}

.form-row input:first-child {
	margin-right: 30px;
}

.form input {
	width:300px;
	background:transparent;
	border:none;
	border-bottom:1px solid #dedede;
}


.form textarea {
	width:630px;
	background:transparent;
	border:none;
	border-bottom:1px solid #dedede;

}