
.icon-play-outline:before { content: '\e800'; } /* '' */
.icon-gplus:before { content: '\f05a'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */